@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-extra-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-semi-bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Tungsten";
    src: url("../../public/fonts/tungsten-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Tungsten";
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
  background-color: #0f1923;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

ul {
  padding: 0 1rem;
}
