@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-extra-light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-book.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-semi-bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Tungsten";
  src: url("../../public/fonts/tungsten-black.ttf");
  font-weight: 900;
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Tungsten";
  font-weight: 600;
  font-size: 2rem;
}
