@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-padding-top: 6rem;
}

.tiptap ul {
  list-style-position: inside;
  list-style: disc !important;
  padding-left: 0;
  padding: 0 1rem;
  margin: 0;
}

.tiptap ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

li {
  margin: 0.25rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}
